input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
img {
  max-width: 100%;
}
input,
textarea,
.robotor {
  font-family: RobotoRegular, Helvetica, Arial, sans-serif;
}
.grace {
  font-family: grace, Helvetica, Arial, sans-serif;
}
.din {
  font-family: din, Helvetica, Arial, sans-serif;
}
.us {
  font-family: us, Helvetica, Arial, sans-serif;
}
.comic {
  font-family: comic, Helvetica, Arial, sans-serif;
}
ins {
  text-decoration: none;
}
nav button {
  font-size: 1rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  font-family: RobotoLight, Helvetica, Arial, sans-serif;
}
.bbold {
  font-family: RobotoBold, Helvetica, Arial, sans-serif;
}
.hbold:hover,
.filter-panel li a:hover {
  font-weight: 700;
}
h1 {
  font: 3.75rem/1.33 sans-serif;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.2rem;
}
body,
p {
  margin: 0;
}
p {
  line-height: 1.5;
}
table {
  border-collapse: collapse;
}
li {
  outline: none;
}
/* a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
} */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style: none;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  color: inherit;
}
button:focus {
  outline-color: #316195;
}
button.active {
  outline: 3px #0093c9 solid;
  z-index: 5;
}
input,
textarea,
select {
  border: none;
  transition: border-color 0.5s ease-out;
  background: transparent;
  outline: none;
  margin: 0;
}
select:focus-within,
input:focus-within,
textarea:focus-within {
  border-color: #316195;
  box-shadow: 0 0 0 1px #316195;
}
input.focus-none:focus-within {
  border-color: transparent;
  box-shadow: 0 0 0 1px transparent;
}
select[name='sort']:focus-within {
  border-color: #777279;
  box-shadow: 0 0 0 1px #777279;
}
input.f0:focus-within,
textarea.f0:focus-within,
.t-dropdown + ul input[type='checkbox'] {
  border-color: transparent;
  box-shadow: none;
}
select.t-center {
  padding-left: 5rem;
}
input[type='checkbox'] {
  width: 18px;
  border-radius: 2px;
  height: 18px;
}
textarea {
  resize: none;
}
::placeholder {
  color: #b5b5b5;
  padding-left: 0.8rem;
}
.c-black2::placeholder {
  color: #646466;
}
.pl-xs::placeholder {
  padding-left: 0.1rem;
}
.place-p0::placeholder,
.reminder-number::placeholder {
  padding-left: 0;
}
ul,
figure {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list {
  list-style: disc;
}
.list1 {
  list-style: inside url(../images/listIcon.png);
}
/* ::marker {
  font-size: 2em;
} */
ol li::marker,
.mh-21 li::marker,
.f-xs li::marker,
.sm-marker li::marker {
  font-size: 1rem;
}
.black-marker li::marker {
  color: #000;
  font-size: 1.1rem;
}
.blue-marker li::marker {
  color: #316195;
}
footer {
  color: #fff;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease 0.5s;
}
button:disabled span,
button:disabled span:hover {
  color: #00000026;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
.modal-content {
  box-shadow: 0 3px 12px #00000014;
  border-radius: 4px;
  padding: 1.2rem 2rem;
  max-width: 95%;
  width: max-content;
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  word-break: break-all;
  background: #fff;
  transform: translate(-50%);
  max-height: 95vh;
  overflow-y: auto;
  word-break: break-word;
}
.t10 {
  top: 10%;
}
.t20 {
  top: 20%;
}
.t25 {
  top: 25%;
}
.t3 {
  top: 3%;
}
.flex {
  display: flex;
}
.i-flex {
  display: inline-flex;
}
.flex1 {
  flex: 1;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-end {
  align-items: flex-end;
}
.s-center {
  align-self: center;
}
.s-end {
  align-self: flex-end;
}
.s-start {
  align-self: flex-start;
}
.center {
  justify-content: center;
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.align-start {
  align-items: flex-start;
}
.shrink {
  flex-shrink: 0;
}
.sb {
  justify-content: space-between;
}
.se {
  justify-content: space-evenly;
}
.col {
  flex-direction: column;
}
.absolute-f {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.wrap {
  flex-wrap: wrap;
}
.z-index {
  z-index: 1;
}
.c-black {
  color: #000;
}
.c-grey {
  color: #686868;
}
.c-grey1 {
  color: #9699a6;
}
.c-grey2 {
  color: #d4d4d4;
}
.c-grey3 {
  color: #9d9fa4;
}
.c-grey4 {
  color: #7b7b7e;
}
.c-grey5 {
  color: #b7b7b7;
}
.c-white,
.hc-white:hover > span {
  color: #fff;
}
.c-black1 {
  color: #2d2d2d;
}
.c-black2 {
  color: #646466;
}
.c-black3 {
  color: #4a4a4a;
}
.c-green,
a.c-green1:hover {
  color: #93c25e;
}
.c-red {
  color: red;
}
.c-red1 {
  color: #cf152d;
}
.bg-yellow1 > span:last-of-type {
  color: #e95144;
}
.c-blue,
.ch-blue:hover,
.ch-blue:hover .iconfont {
  color: #316195;
}
.c-blue1 {
  color: #0a3e6d;
}
.c-blue2 {
  color: #0471af;
}
.c-blue3 {
  color: #0280c5;
}
.c-blue4 {
  color: #002955;
}
.c-blue5 {
  color: #065af9;
}
.c-blue6 {
  color: #28363b;
}
a.ch-blue:hover {
  color: #316195;
  font-family: RobotoBold, Helvetica, Arial, sans-serif;
}
a.c-blue:hover {
  color: #103964;
}
a.c-green:hover,
.c-green1 {
  color: #3ca34a;
}
.c-green2 {
  color: #006400;
}
.c-yellow {
  color: #f7bb0f;
}
.c-yellow1 {
  color: #fdefc7;
}
.c-orange {
  color: #f26845;
}
.c-orange1 {
  color: #ff4536;
}
.bg-yellow {
  background-color: #f7bb0f;
}
.rate-merv13 .bg-yellow,
.hbg-yellow:hover {
  background-color: #f5d16d;
}
.bg-yellow1,
.bg-hyellow:hover {
  background-color: #f9f7d7;
}
.bg-green {
  background-color: #93c25e;
}
.bg-green1 {
  background-color: #2aaa42;
}
.bg-green2 {
  background-color: #45974b;
}
.rate-merv8 .bg-green2 {
  background-color: #7cb681;
}
.bg-green3 {
  background-color: #e5efe5;
}
.bg-green4 {
  background-color: #def0d8;
}
.bg-green5 {
  background-color: #3ca34a;
}
.bg-orange {
  background-color: #fe493a;
}
.bg-white {
  background-color: #fff;
}
.bg-white2 {
  background-color: #ededed;
}
.bg-white3 {
  background-color: #f7f8fa;
}
.bg-black {
  background-color: #313131;
}
.bg-black1 {
  background-color: #2f2f2f;
}
.bg-black2 {
  background-color: #000000b3;
}
.bg-blue {
  background-color: #316195;
}
.bg-blue9 {
  background-color: #014f9d;
}
.rate-merv11 .bg-blue9 {
  background-color: #4d83ba;
}
.bg-blue3 {
  background-color: #0471af;
}
.bg-blue1 {
  background-color: #9bbee5;
}
.bg-blue8 {
  background-color: #83b6dd;
}
.bg-blue4 {
  background-color: #252763;
}
.rate-odor .bg-blue4 {
  background-color: #666791;
}
.bg-blue5 {
  background-color: #698ab3;
}
.bg-blue6 {
  background-color: #0a3e6d;
}
.bg-blue7 {
  background-color: #e0e9f0;
}
.bg-blue10 {
  background-color: #0280c5;
}
.bg-grey {
  background-color: #eef0f2;
}
.bg-grey1 {
  background-color: #a6afb9;
}
.bgh-white:hover,
.bg-grey7 {
  background-color: #fafafa;
}
.bg-grey2 {
  background-color: #f6f6f6;
}
.bg-grey3 {
  background-color: #f3f1ed;
}
.bg-grey5 {
  background-color: #f3f5f6;
}
.bg-grey6 {
  background-color: #b3b3b3;
}
.bg-grey8 {
  background-color: #f0f0f1;
}
.hbg-grey6:hover {
  background-color: #e0e0e0;
}
.m-auto {
  margin: auto;
}
.mh-auto {
  margin-right: auto;
  margin-left: auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-l {
  margin-left: 3rem;
}
.mr-sx {
  margin-right: 0.7rem;
}
.mr-xs {
  margin-right: 0.5rem;
}
.mr-xxs {
  margin-right: 0.3rem;
}
.mr-xxxs {
  margin-right: 0.1rem;
}
.mr-s {
  margin-right: 1rem;
}
.mr-smm {
  margin-right: 1.5rem;
}
.mr-m {
  margin-right: 2rem;
}
.mr-ms {
  margin-right: 1.2rem;
}
.mr-sm {
  margin-right: 1.7rem;
}
.mr-ml {
  margin-right: 2.3rem;
}
.mr-mll {
  margin-right: 2.6rem;
}
.mr-l {
  margin-right: 3rem;
}
.mr-xl {
  margin-right: 4rem;
}
.mr-xxl {
  margin-right: 6rem;
}
.mb-lmm {
  margin-bottom: 4rem;
}
.mb-lm {
  margin-bottom: 3.5rem;
}
.mb-l {
  margin-bottom: 3rem;
}
.mb-ml {
  margin-bottom: 2.5rem;
}
.mb-m {
  margin-bottom: 2rem;
}
.mb-ms {
  margin-bottom: 17px;
}
.mb-smm {
  margin-bottom: 1.4rem;
}
.mb-sm {
  margin-bottom: 1.2rem;
}
.mb-s {
  margin-bottom: 1rem;
}
.mb-xs {
  margin-bottom: 0.8rem;
}
.mb-sx {
  margin-bottom: 0.65rem;
}
.mb-sxx {
  margin-bottom: 0.5rem;
}
.mb-sxxx {
  margin-bottom: 0.35rem;
}
.mb-xxs {
  margin-bottom: 0.2rem;
}
.mb-xxxs {
  margin-bottom: 0.1rem;
}
.mb-xl {
  margin-bottom: 5rem;
}
.mb-xxl {
  margin-bottom: 7rem;
}
.mt-s {
  margin-top: 1rem;
}
.mt-m {
  margin-top: 3rem;
}
.mt-auto {
  margin-top: auto;
}
.p-s {
  padding: 0.7rem;
}
.p-xxs {
  padding: 0.3rem;
}
.p-xxxs {
  padding: 0.15rem;
}
.p-xs {
  padding: 0.1rem 0.1rem 0rem 0;
}
.pv-s {
  padding: 0.5rem 0;
}
.pv-ms {
  padding: 0.7rem 0;
}
.pv-sx {
  padding: 0.4rem 0;
}
.pv-msss {
  padding: 0.9rem 0;
}
.pv-mss {
  padding: 0.8rem 0;
}
.pv-m {
  padding: 1rem 0;
}
.pv-smm {
  padding: 1.1rem 0;
}
.pv-xs {
  padding: 0.25rem 0;
}
.pv-xxs {
  padding: 0.2rem 0;
}
.pv-sm {
  padding: 1.25rem 0;
}
.pv-ml {
  padding: 2.2rem 0;
}
.pv-mll {
  padding: 1.8rem 0;
}
.pv-lmm {
  padding: 1.6rem 0;
}
.pv-l {
  padding: 3rem 0;
}
.pv-xl {
  padding: 5rem 0;
}
.ph-xl {
  padding-right: 5rem;
  padding-left: 5rem;
}
.ph-lm {
  padding-right: 4rem;
  padding-left: 4rem;
}
.ph-l {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}
.ph-lmm {
  padding-right: 2.2rem;
  padding-left: 2.2rem;
}
.ph-ml {
  padding-right: 2rem;
  padding-left: 2rem;
}
.ph-mll {
  padding-right: 3rem;
  padding-left: 3rem;
}
.ph-m {
  padding-right: 1.7rem;
  padding-left: 1.3rem;
}
.ph-mms {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.ph-ms {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}
.ph-sm {
  padding-right: 1rem;
  padding-left: 1rem;
}
.ph-smm {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.ph-s {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.ph-xs {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}
.ph-xxs {
  padding-right: 0.15rem;
  padding-left: 0.15rem;
}
.pb-m {
  padding-bottom: 2rem;
}
.pb-ml {
  padding-bottom: 1.6rem;
}
.pb-l {
  padding-bottom: 3rem;
}
.pb-lm {
  padding-bottom: 4rem;
}
.pb-xl {
  padding-bottom: 5rem;
}
.pb-xs {
  padding-bottom: 0.9rem;
}
.pb-sxx {
  padding-bottom: 0.61rem;
}
.pb-xxs {
  padding-bottom: 0.3rem;
}
.pb-xxxs {
  padding-bottom: 0.15rem;
}
.pb-sm {
  padding-bottom: 1.2rem;
}
.pr-xs {
  padding-right: 0.5rem;
}
.pr-sm {
  padding-right: 0.7rem;
}
.pr-m {
  padding-right: 2rem;
}
.pr-s {
  padding-right: 1rem;
}
.pr-l {
  padding-right: 3rem;
}
.pr-ml {
  padding-right: 2.5rem;
}
.pt-xl {
  padding-top: 5rem;
}
.pt-lx {
  padding-top: 4rem;
}
.pt-xs {
  padding-top: 0.3rem;
}
.pt-xxxs {
  padding-top: 0.1rem;
}
.pt-l {
  padding-top: 3rem;
}
.pt-ml {
  padding-top: 2.3rem;
}
.pt-mll {
  padding-top: 2rem;
}
.pt-sm {
  padding-top: 0.6rem;
}
.pt-m {
  padding-top: 1.7rem;
}
.pt-ms {
  padding-top: 1.4rem;
}
.pt-mss {
  padding-top: 1.2rem;
}
.pt-smm {
  padding-top: 1rem;
}
.pt-s {
  padding-top: 0.7rem;
}
.pl-l {
  padding-left: 3.5rem;
}
.pl-m {
  padding-left: 2.8rem;
}
.pl-mss {
  padding-left: 2.4rem;
}
.pl-s {
  padding-left: 1.8rem;
}
.pl-ms {
  padding-left: 1.3rem;
}
.pl-sm {
  padding-left: 1rem;
}
.pl-smm {
  padding-left: 0.7rem;
}
.pl-xs {
  padding-left: 0.5rem;
}
.pl-sx {
  padding-left: 0.3rem;
}
.f-xxs {
  font-size: 0.9rem;
}
.f-sxx,
.f-xs {
  font-size: 17px;
}
.f-sx {
  font-size: 0.9375rem;
}
.f-s {
  font-size: 1rem;
}
.f-mss,
.f-sm {
  font-size: 17px;
}
.f-m {
  font-size: 1.5rem;
}
.f-lmm {
  font-size: 1.6875rem;
}
.f-lmmm {
  font-size: 1.625rem;
}
.f-ms,
.f-smmm,
.f-smm {
  font-size: 17px;
}
.f-ml {
  font-size: 2rem;
}
.f-lm {
  font-size: 2.125rem;
}
.f-mll {
  font-size: 2.25rem;
}
.f-lx {
  font-size: 2.5rem;
}
.f-mlll {
  font-size: 2.6rem;
}
.f-l {
  font-size: 3rem;
}
.f-xl {
  font-size: 4rem;
}
.f-43 {
  font-size: 4.375rem;
}
.f-4 {
  font-size: 4.6875rem;
}
.f-lxx {
  font-size: 5.6rem;
}
.f-xxl {
  font-size: 7.5rem;
}
.f-13 {
  font-size: 13.75rem;
}
.ls-s {
  letter-spacing: 2.5px;
}
.lh-s,
.lh-s p {
  line-height: 1.2;
}
.lh-sm {
  line-height: 1.5;
}
.lh-xs {
  line-height: 0.5;
}
.lh-m {
  line-height: 1.8;
}
.bold {
  font-weight: 700;
}
.normal {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.t-center {
  text-align: center;
}
.t-start {
  text-align: start;
}
.t-end {
  text-align: end;
}
.t-upper {
  text-transform: uppercase;
}
.t-top {
  vertical-align: top;
}
.t-underlined,
.th-underlined:hover,
.ch-blue:hover .th-underlined {
  text-underline-offset: 0.2em;
  text-decoration: underline;
  text-decoration-color: #316195;
  text-decoration-thickness: 0.15rem;
}
.t-underlined1 {
  text-decoration: underline;
  text-underline-offset: 0.07em;
}
.t-underlined2 {
  text-underline-offset: 0.5em;
  text-decoration-thickness: 0.05rem;
}
.underlined {
  text-decoration: underline;
}
.underlined-offset {
  text-underline-offset: 0.2em;
}
.underlined-offset-s {
  text-underline-offset: 0.35em;
}
.underlined-blue {
  text-decoration-color: #0280c5;
}
.t-underlined:hover {
  text-decoration-color: #9dc1ea;
}
.bwhite-hover:hover {
  background-color: #e4e4e4;
}
button:disabled {
  cursor: not-allowed;
}
.btn-s {
  padding: 0.5rem 1.5rem;
}
.btn-m {
  padding: 0.6rem 2rem;
}
.btn-primary {
  background-color: #93c25e;
  color: #fff;
}
.btn-primary1 {
  background-color: #3ca34a;
  color: #fff;
}
.btn-primary1:hover {
  background-color: #478b50;
}
.btn-secondary {
  background-color: #316195;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #124780;
}
.btn-primary:hover {
  background-color: #97ca5d;
  color: #fff;
}
.h-100 {
  height: 100%;
}
.minh-100 {
  min-height: 100%;
}
.h-18 {
  height: 18.75rem;
}
.h-12 {
  height: 12.0625rem;
}
.h-14 {
  height: 14.125rem;
}
.h-13 {
  height: 13.0625rem;
}
.h-8 {
  height: 8.8125rem;
}
.h-6 {
  height: 6.25rem;
}
.mh-17 {
  min-height: 17.57rem;
}
.mh-21 {
  min-height: 21.9375rem;
}
.mh-25 {
  min-height: 35rem;
}
.mh-100,
img {
  max-height: 100%;
}
.mh-40 {
  max-height: 40rem;
}
.mh-19 {
  max-height: 19.3125rem;
}
.mh-5 {
  max-height: 5rem;
}
.h-mcon {
  height: max-content;
}
.w-100 {
  width: 100%;
}
.w-48 {
  width: 48%;
}
.w-47 {
  width: 47%;
}
.w-54 {
  width: 54%;
}
.w-53 {
  width: 53.1%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-98 {
  width: 98%;
}
.w-95 {
  width: 95%;
}
.w-80 {
  width: 80%;
}
.w-93 {
  width: 93%;
}
.w-23 {
  width: 23.57rem;
}
.w-21 {
  width: 21.93rem;
}
.w-19 {
  width: 19.8125rem;
}
.w-17 {
  width: 17.6rem;
}
.w-14 {
  width: 14.625rem;
}
.w-11 {
  width: 11rem;
}
.w-10 {
  width: 10.375rem;
}
.w-8 {
  width: 8.0625rem;
}
.w-7 {
  width: 7.5rem;
}
.w-59 {
  width: 5.9375rem;
}
.w-5 {
  width: 5.25rem;
}
.w-4 {
  width: 4.5rem;
}
.w-s {
  width: 3.625rem;
}
.w-31 {
  width: 3.3125rem;
}
.w-3 {
  width: 3.0625rem;
}
.w-2 {
  width: 2.625rem;
}
.w-1 {
  width: 1.75rem;
}
.w-mcon {
  width: max-content;
}
.mmax-100 {
  max-width: 100%;
}
.mw-96 {
  max-width: 96.875rem;
}
.mw-95 {
  max-width: 95.875rem;
}
.mw-89 {
  max-width: 89rem;
}
.mw-85 {
  max-width: 85rem;
}
.mw-80 {
  max-width: 80.8rem;
}
.mw-78 {
  max-width: 78rem;
}
.mw-77 {
  max-width: 1548px;
}
.mw-75 {
  max-width: 75rem;
}
.mw-71 {
  max-width: 89rem;
}
.mw-65 {
  max-width: 65.5625rem;
}
.mw-62 {
  max-width: 62rem;
}
.mw-61 {
  max-width: 61.5rem;
}
.mw-60 {
  max-width: 60.1875rem;
}
.mw-58 {
  max-width: 58rem;
}
.mw-56 {
  max-width: 56.8125rem;
}
.mw-51 {
  max-width: 51rem;
}
.mw-50 {
  max-width: 50.6rem;
}
.mw-48 {
  max-width: 48.5rem;
}
.mw-46 {
  max-width: 105rem;
}
.mw-45 {
  max-width: 45.4375rem;
}
.mw-43 {
  max-width: 43rem;
}
.mw-41 {
  max-width: 41rem;
}
.mw-39 {
  max-width: 39.3125rem;
}
.mw-37 {
  max-width: 37.0625rem;
}
.mw-33 {
  max-width: 33.8125rem;
}
.mw-30 {
  max-width: 30.75rem;
}
.mw-28 {
  max-width: 28rem;
}
.mw-26 {
  max-width: 25.8125rem;
}
.mw-25 {
  max-width: 25rem;
}
.mw-23 {
  max-width: 23.43rem;
}
.mw-22 {
  max-width: 22.43rem;
}
.mw-31 {
  max-width: 31.93rem;
}
.mw-21 {
  max-width: 21.57rem;
}
.mw-20 {
  max-width: 20.775rem;
}
.mw-19 {
  max-width: 19.8125rem;
}
.mw-18 {
  max-width: 18.25rem;
}
.mw-16 {
  max-width: 16.5rem;
}
.mw-14 {
  max-width: 14.4375rem;
}
.mw-15 {
  max-width: 15rem;
}
.mw-13 {
  max-width: 13.8125rem;
}
.mw-12 {
  max-width: 12.9375rem;
}
.mw-11 {
  max-width: 11rem;
}
.mw-9 {
  max-width: 9.4375rem;
}
.mw-7 {
  max-width: 7.5625rem;
}
.mw-6 {
  max-width: 6.375rem;
}
.circle {
  border-radius: 50%;
}
.radius {
  border-radius: 4rem;
}
.radius-s {
  border-radius: 1rem;
}
.radius-xs {
  border-radius: 0.5rem;
}
.radius-xxs {
  border-radius: 0.2rem;
}
.border {
  border: 1px solid;
}
.border-b {
  border-bottom: 1px solid;
}
.border-bm {
  border-bottom: 2px solid;
}
.border-bml {
  border-bottom: 3px solid;
}
.border-bl {
  border-bottom: 4px solid;
}
.border-ll {
  border-left: 7px solid;
}
.border-lxl {
  border-left: 13px solid;
}
.border-left {
  border-left: 1px solid;
}
.border-t {
  border-top: 1px solid;
}
.border-tm {
  border-top: 2px solid;
}
.border-m {
  border: 2px solid;
}
.border-l {
  border: 4px solid;
}
.border-right-m {
  border-right: 2px solid;
}
.border-right {
  border-right: 1px solid;
}
.border-white {
  border-color: #fff;
}
.border-black {
  border-color: #000;
}
.border-grey {
  border-color: #b5b5b5;
}
.border-grey1 {
  border-color: #b5b5b54d;
}
.border-grey2 {
  border-color: #ebede7;
}
.border-grey3 {
  border-color: #777279;
}
.border-grey4 {
  border-color: #d1d1d6;
}
.border-green1 {
  border-color: #3ca34a;
}
.border-blue {
  border-color: #9dc1ea;
}
.border-blue1 {
  border-color: #316195;
}
.border-blue2 {
  border-color: #d9e5e8;
}
.border-blue3 {
  border-color: #002955;
}
.border-blue4 {
  border-color: #0a3e6d;
}
.border-yellow {
  border-color: #f7bb0f;
}
.border-transparent {
  border-color: transparent;
}
.border-dot {
  border-style: dashed;
}
.s-3 {
  width: 3.4375rem;
  height: 3.4375rem;
}
.s-4 {
  width: 4.125rem;
  height: 4.125rem;
}
.s-5 {
  width: 5.9375rem;
  height: 5.9375rem;
}
.s-6 {
  width: 6.5625rem;
  height: 6.5625rem;
}
.s-lmm {
  width: 3.6875rem;
  height: 3.6875rem;
}
.s-lm {
  width: 3rem;
  height: 3rem;
}
.s-m {
  width: 2.6rem;
  height: 2.6rem;
}
.s-ml {
  width: 5.875rem;
  height: 5.875rem;
}
.s-s {
  width: 2.0625rem;
  height: 2.0625rem;
}
.s-sx {
  width: 1.5rem;
  height: 1.5rem;
}
.s-xs {
  width: 1rem;
  height: 1rem;
}
.s-xxs {
  width: 7px;
  height: 7px;
}
.ngrid {
  display: grid;
}
.none,
.sm-show,
.md-show {
  display: none;
}
/* .hidden {
  visibility: hidden;
  opacity: 0.3;
} */
.b-opacity {
  opacity: 0.45;
}
.relative {
  position: relative;
}
.sticky {
  top: 0;
  position: sticky;
}
.o-hidden {
  overflow: hidden;
}
.o-scroll,
.o-scroll1,
.overflow-auto {
  overflow: auto;
}
.overflowx {
  overflow-x: auto;
  overflow-y: hidden;
}
.o-scroll::-webkit-scrollbar {
  height: 5px;
}
.o-scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.o-scroll::-webkit-scrollbar-thumb {
  background-color: #316195;
  border-radius: 100px;
}
.o-scroll1::-webkit-scrollbar {
  height: 0px;
}
.absolute {
  position: absolute;
}
.r0 {
  right: 0;
}
.rs {
  right: 0.8rem;
}
.t0 {
  top: 0;
}
.cover {
  object-fit: cover;
}
.contain {
  object-fit: contain;
}
.object-fit-none {
  object-fit: none;
}
.h-input,
.switch {
  position: relative;
  cursor: pointer;
}
.h-input > input,
.switch > input {
  opacity: 0;
  position: absolute;
}
.switch label {
  text-indent: -9999px;
  width: 3rem;
  height: 1.4rem;
  background: grey;
  border-radius: 1.4rem;
  position: relative;
}
.switch label:after {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 2px;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 100%;
  transition: 0.3s;
}
.switch input:checked + label {
  background: #bada55;
}
.switch input:checked + label:after {
  left: calc(100% - 2px);
  transform: translate(-100%);
}
.switch label:active:after {
  width: 1.6rem;
}
.box-s {
  box-shadow: 0 2.5px #e7e7e7;
}
.box-s1 {
  box-shadow: 2.5px 4px 4px 1px #dbd9d9;
}
.box-s2 {
  box-shadow: 0 3px 7px 1px #e7e7e7;
}
.box-s3 {
  box-shadow: 0 2px 20px 1px #5959594f;
}
.box-s4 {
  box-shadow: 2px 2px 5px 1px #2e2e2e4f;
}
.btn-shadow {
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 4px 8px 1px #c4c4c4;
}
.btn-shadow1 {
  box-shadow: 0 4px 7px 1px #c4c4c48c;
}
.btn-shadow:hover {
  background-color: #f56356;
  box-shadow: 0 1px 5px #c4c4c4;
}
.grid1 {
  grid-template-columns: repeat(auto-fill, minmax(9.3rem, 1fr));
}
.grid2 {
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.grid3 {
  grid-template-columns: repeat(5, minmax(11rem, 1fr));
}
.grid16 {
  grid-template-columns: repeat(auto-fit, minmax(11.0625rem, 1fr));
}
.grid4 {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}
.grid5 {
  grid-template-columns: repeat(auto-fit, minmax(25.625rem, 1fr));
  justify-items: end;
}
.grid5 > div {
  padding-left: 20%;
  max-width: 35.4rem;
}
.grid5 > div > div > .col {
  padding: 0.5rem 7% 3.5rem;
}
.grid6 {
  grid-template-columns: repeat(2, 8.625rem);
}
.grid7 {
  grid-template-columns: repeat(2, minmax(10rem, 34.75rem));
  grid-template-rows: auto 1fr;
  column-gap: 5rem;
  grid-template-areas: 'top main_content ' 'bottom main_content';
}
.grid7 > .sticky {
  grid-area: main_content;
  height: fit-content;
}
.grid8 {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 27.625rem));
}
.grid9 {
  grid-template-columns: repeat(6, minmax(100px, max-content));
  row-gap: 0.8rem;
  column-gap: 4rem;
}
.grid11 {
  grid-template-columns: repeat(3, minmax(100px, max-content));
  row-gap: 1.1rem;
  column-gap: 3rem;
}
.r-gap {
  row-gap: 0.6rem;
}
.grid12 {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 33rem));
}
.c-gap {
  column-gap: 0.9rem;
}
.gap-ml {
  gap: 2rem;
}
.gap-ms {
  gap: 1.875rem;
}
.gap-m {
  gap: 1.6rem;
}
.gap-l {
  gap: 3rem;
}
.r-gap1 {
  row-gap: 1rem;
}
.nowrap {
  white-space: nowrap;
}
@media only screen and (max-width: 1536px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1280px) {
  h3 {
    font-size: 1.2rem;
  }
  .xl-ml-l {
    margin-left: 3rem;
  }
  .dropdown ul.f-sxx.mb-ms.wrap > a.mr-s {
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 1212px) {
  .xl-none {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .mr-ml,
  .mr-xl {
    margin-right: 1rem;
  }
  .l-tcenter {
    text-align: center;
  }
  .l-w47 {
    width: 47%;
  }
  .l-none {
    display: none;
  }
  .l-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .l-wrap > * {
    min-width: 34%;
    margin-bottom: 1rem;
  }
  .l-w7 {
    width: 7rem;
  }
  .l-mwunset {
    max-width: unset;
  }
  .l-ph {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
  .l-o-auto {
    overflow: auto;
  }
  .l-col {
    flex-direction: column;
  }
  .l-col > * {
    margin-bottom: 1rem;
  }
  .grid9 {
    column-gap: 1rem;
  }
  .dropdown ul.f-sxx.mb-ms.wrap {
    max-width: 49rem;
  }
}
@media only screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2,
  .f-mlll,
  .f-lm,
  .f-lx {
    font-size: 1.5rem;
  }
  .f-xxl,
  .f-lxx {
    font-size: 4rem;
  }
  .f-lmmm {
    font-size: 1.2rem;
  }
  .s-5 {
    width: 4rem;
    height: 4rem;
  }
  .md-wrap {
    flex-wrap: wrap;
  }
  .mb-xl {
    margin-bottom: 3rem;
  }
  .pt-xl {
    padding-top: 2rem;
  }
  .pb-xl {
    padding-bottom: 2.5rem;
  }
  .md-mb-m,
  .mb-l {
    margin-bottom: 2rem;
  }
  .f-xl {
    font-size: 3rem;
  }
  .md-m0 {
    margin: 0;
  }
  .md-p0 {
    padding: 0;
  }
  .md-p-s {
    padding: 0.8rem;
  }
  .md-p-xs {
    padding: 0.5rem;
  }
  .md-wu {
    width: unset;
  }
  .md-col > *,
  .md-col-r > *,
  .md-col1 > * {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .md-col1 > * {
    max-width: max-content;
  }
  .md-col > *:not(img),
  .md-col-r > * {
    max-width: unset;
  }
  .md-col,
  .md-col1 {
    flex-direction: column;
  }
  .md-col-r {
    flex-direction: column-reverse;
  }
  .md-col > *:first-child,
  .md-col-r > *:last-child,
  .md-mb-s,
  .md-col1 > * {
    margin-bottom: 1rem;
  }
  .md-w50 {
    width: 50%;
  }
  .md-w95 {
    width: 95%;
  }
  .md-w6 {
    width: 6rem;
  }
  .md-mwc {
    width: max-content;
  }
  .md-m-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .md-flex,
  .md-show {
    display: flex;
  }
  .md-static {
    position: static;
  }
  .grid7 {
    grid-template-columns: repeat(1, minmax(10rem, 50rem));
    grid-template-areas: 'top' 'main_content' 'bottom';
  }
  .f-mll {
    font-size: 1.5rem;
  }
  .f-mll.iconfont,
  .f-43 {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 640px) {
  .sm-align-center {
    align-items: center;
  }
  .border-lxl {
    border-left: 3px solid;
  }
  .mr-l {
    margin-right: 1.5rem;
  }
  .mr-sm {
    margin-right: 1.2rem;
  }
  .f-sm {
    font-size: 17px;
  }
  .mb-l {
    margin-bottom: 1rem;
  }
  .sm-p-xs {
    padding: 0.7rem 0 0.7rem 0.7rem;
  }
  .sm-p-s {
    padding: 2rem 0.9rem;
  }
  .sm-col > *:first-child,
  .sm-col-r > * {
    margin-bottom: 1rem;
  }
  .l-w47 {
    width: 45%;
  }
  .sm-col {
    flex-direction: column;
  }
  .sm-col-r {
    flex-direction: column-reverse;
  }
  .sm-col > *,
  .sm-col-r > * {
    width: 98%;
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .sm-col > .mw-16 {
    width: max-content;
  }
  .pv-ml {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sm-f-s {
    font-size: 0.8rem;
  }
  .sm-none {
    display: none;
  }
  .sm-show {
    display: flex;
  }
  .mt-m {
    margin-top: 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  h3,
  .sm-f1 {
    font-size: 1rem;
  }
  .f-ml {
    font-size: 1.5rem;
  }
  .f-m {
    font-size: 1.2rem;
  }
  .pv-l {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pv-xl {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .ph-mll {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .pt-l {
    padding-top: 1.5rem;
  }
  .mb-m,
  .sm-mb-s {
    margin-bottom: 1rem;
  }
  .sm-t-start {
    text-align: start;
  }
  .sm-t-center {
    text-align: center;
  }
  .mb-lm,
  .mb-lmm {
    margin-bottom: 1.5rem;
  }
  .sm-w90 {
    width: 98%;
  }
  .sm-sb {
    justify-content: space-between;
  }
}
/*# sourceMappingURL=/s/files/1/0753/1495/4562/files/common.css.map?v=1682302511 */
